.ant-input {
    font-size: 14px !important;
    border-radius: 6px !important;
}

.ant-input-lg {
    padding: 5px !important;
}

.ant-input-lg[isshowicon="false"],
.ant-select-lg {
    height: 48px !important;
}
.ant-input-password .ant-input-lg[isshowicon="false"] {
    height: 36px !important;
}

.ant-btn {
    line-height: 1 !important;
    border: 1px solid #3B82F6 !important;
    border-radius: 6px !important;
}

.ant-btn-lg {
    padding: 0.75rem 1.25rem !important;
    height: 48px !important;
}

.float_right .ant-btn-icon {
    float: right !important;
    margin-left: 10px !important;
    margin-inline-end: 0px !important;
}

.ant-dropdown-menu-item {
    line-height: 1.8 !important;
}

.ant-dropdown-menu-item-icon {
    font-size: 16px !important;
}

.errorMsg {
    color: #ff4d4f !important;
}
.ant-menu-item-selected {
    background-color: #fafafa21 !important;
    box-shadow: -5px 0px 0px 0px #1677ff !important;
    border-radius: 0px !important;
}
